<div class="readme-content">
    <h1>FrontendAngular</h1>
    <p>Este projeto foi gerado com o <a href="https://github.com/angular/angular-cli" target="_blank">Angular CLI</a> versão 13.2.6.</p>
  
    <h2>Servidor de desenvolvimento</h2>
    <p>Execute <code>ng serve</code> para um servidor de desenvolvimento. Navegue até <a href="http://localhost:4200/" target="_blank">http://localhost:4200/</a>. O aplicativo recarregará automaticamente se você alterar algum dos arquivos fonte.</p>
  
   
    
    <h2>Mais ajuda</h2>
    <p>Para obter mais ajuda sobre o Angular CLI, use <code>ng help</code> ou confira a página de <a href="https://angular.io/cli" target="_blank">Visão geral e referência do Angular CLI</a>.</p>
  
    <h2>Informações do projeto</h2>
    <ul>
      <li><strong>Projeto realizado por</strong>: Rodrigo A. Mora Azócar</li>
      <li><strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/rodrigo-mora-azocar/" target="_blank">https://www.linkedin.com/in/rodrigo-mora-azocar/</a></li>


      <li><strong>Backend:</strong> APIREST - Java Spring Boot :: Spring Boot :: (v3.0)</li>
      <li><strong>PostgreSQL:</strong> versão 15</li>
      <li><strong>GitHub do backend:</strong> <a href="https://github.com/rodrigomoraazocar/apiconangular" target="_blank">https://github.com/rodrigomoraazocar/apiconangular</a></li>
      <li><strong>GitHub do Frontend:</strong> <a href="https://github.com/rodrigomoraazocar/apiconangular-frontend" target="_blank">https://github.com/rodrigomoraazocar/apiconangular-frontend</a></li>
    </ul>
  </div>
  